@font-face {
  font-display: swap;
  font-family: Dahlia;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/dahlia.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: MondiaThin;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/mondia-thin.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: MilitaryScribe;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/scribe.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: sourceserif;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/source-serif-400-normal.woff) format("woff");
}
