* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
 }

:root {
  /* --bg1: antiquewhite; */
  --bg1: bisque;
  /* --bg1: rgb(254, 254, 254); */
  /* --bg2: linear-gradient(180deg, lightgreen, rgb(212,217,88)); */
  --bg2: rgb(189, 23, 189);
  --bg3: rgb(98, 0, 255);
  --clr1: #BB004B;
  --clr2: #ff0066;

  --desktop-base-value: 18;
  --tablet-base-value: 16;
  --mobile-base-value: 14;

  --base-value: 18;
}

html {
  font-size: 100%;
}

body, html {
  background-color: var(--bg1);
  color: black;
  /* scroll-behavior: smooth; */
  /* background: url('../images/bg2.svg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #ff0066; */
}

section {
  position: relative;
  width: 100%;
  height: 110vh;
}

#s1 {
  z-index: 9;
}

/* ::-webkit-scrollbar{background-color: #ff0066;} */

/* ------------------------------------
Media Queries:
  767px >> phone
  768px - 1024px >> tablet
  1025px >> desktop
    ** 768 px ipad mini  == phone[better]
    ** 1024 px ipad pro == tablet
    so making 768 to phone max and 769 to tablet least
------------------------------------ */

/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {

  :root {
    --base-value: var(--tablet-base-value);
  }

  section {
    height: calc(110vh * var(--base-value) / 18);
    padding: 40px;
  }
}

/* mobile */
@media (max-width: 768px) {
  :root {
    --base-value: var(--mobile-base-value);
  }

  section {
    height: 85.56vh;
    padding: 40px;
  }
  
}