.decrypt_subheading {
  position: relative;
}

.decrypt_subheading::before {
  content: 'Enter any message and a specific key to cipher it accordingly. For every specific key the encryption will be different. is done using <cryptography> library.';
  position: absolute;
  top: calc(-50% * var(--base-value) / 18);
  left: calc(25% * var(--base-value) / 18);
  width: calc(300px * var(--base-value) / 18);
  height: calc(400px * var(--base-value) / 18);
  -webkit-backdrop-filter: blur(calc(15px * var(--base-value) / 18));
  backdrop-filter: blur(calc(15px * var(--base-value) / 18));
  background-color: rgba(255, 255, 255, 0.247);
  border: calc(2px * var(--base-value) / 18) solid rgba(255, 255, 255, 0.864);
  border-radius: calc(0.5rem * var(--base-value) / 18);
  transition: all 0.3s;
  z-index: 100;
  transform: scale3d(0, 0, 0);
  color: black;
  padding: calc(20px * var(--base-value) / 18);
  font-size: calc(1.5rem * var(--base-value) / 18);
}

.decrypt_subheading:hover::before {
  transform: scale3d(1, 1, 1);
}
