.encrypt_subheading {
  position: relative;
}

.encrypt_subheading::before {
  content: 'Enter any message or File and a key to cipher it accordingly. For every specific key the encryption will be different. Make sure to remember the key you used to encrypt the message.';
  position: absolute;
  top: calc(-50% * var(--base-value) / 18);
  right: calc(25% * var(--base-value) / 18);
  width: calc(300px * var(--base-value) / 18);
  height: calc(400px * var(--base-value) / 18);
  -webkit-backdrop-filter: blur(calc(15px * var(--base-value) / 18));
  backdrop-filter: blur(calc(15px * var(--base-value) / 18));
  background-color: rgba(255, 255, 255, 0.247);
  border: calc(2px * var(--base-value) / 18) solid rgba(255, 255, 255, 0.864);
  border-radius: calc(0.5rem * var(--base-value) / 18);
  transition: all 0.3s;
  z-index: 100;
  transform: scale3d(0, 0, 0);
  color: black;
  padding: calc(20px * var(--base-value) / 18);
  font-size: calc(1.5rem * var(--base-value) / 18);
  z-index: 200;
}

.encrypt_subheading:hover::before {
  transform: scale3d(1, 1, 1);
}


.encrypt_subheading::after{
  content: '';
  position: relative;
  top: 0rem;
  left: 0;
  width: 40px;
  height: 80px;
  background-image: url('../../../icons/r-l.svg');
  background-repeat: no-repeat;
  z-index: 100;
}

.encrypt_file_subheading::before{
  content: '';
  position: relative;
  top: 0rem;
  right: 0;
  width: 40px;
  height: 80px;
  background-image: url('../../../icons/love-l.svg');
  background-repeat: no-repeat;
  z-index: 100;
}

/* ------------------------------------
Media Queries:
  767px >> phone
  768px - 1024px >> tablet
  1025px >> desktop
    ** 768 px ipad mini  == phone[better]
    ** 1024 px ipad pro == tablet
    so making 768 to phone max and 769 to tablet least
------------------------------------ */
