:root {
    --heading-font-size: calc(3.4rem * var(--base-value) / 18);
    --margin-top: calc(30vh * var(--base-value) / 18);
    --flex-gap: calc(1.5rem * var(--base-value) / 18);
}

#s1 {
    opacity: 1;
    height: calc(500vh * var(--base-value) / 18);
}

.main {
    height: calc(90vh * var(--base-value) / 18);
    margin-top: calc(34vh * var(--base-value) / 18);
}

.forms {
    margin-top: calc(var(--margin-top) * var(--base-value) / 18);
}

.gen_key,
.encrypt_input,
.decrypt_input {
    margin-bottom: calc(var(--flex-gap) * var(--base-value) / 18);
}

.pb {
    margin-bottom: calc(5vh * var(--base-value) / 18);
}

.results {
    position: relative;
    height: calc(10rem * var(--base-value) / 18);
    width: calc(30vw * var(--base-value) / 18);
    border-radius: calc(1rem * var(--base-value) / 18);
    font-size: calc(1.2rem * var(--base-value) / 18);
    margin-bottom: calc(1rem * var(--base-value) / 18);
    padding: calc(10px * var(--base-value) / 18);
    overflow: hidden;
}

#copy-btn {
    display: block;
}

.buttons {
    gap: calc(var(--flex-gap) * var(--base-value) / 18);
}

input#gen_key,
input#message,
input#encrypted_msg,
input#file,
input#encrypted_file,
input#key,
input#key-ii,
input#key-f-i,
input#key-f-ii {
    border-color: var(--clr2);
}

/* ----------------------------------------------
 MEDIA QUERIES
 to fix: large gapping in mobiles
 --------------------------------------------------------*/

/* phone */
@media (max-width: 767px) {
    .results {
        width: calc(75vw * var(--base-value) / 18);
        border-radius: 20px;
    }

    #key,
    #key-ii {
        width: 97px;
    }

    .main {
        margin-top: 26vh;
    }

    #s1 {
        height: 355vh;
    }
}

@media (max-width: 380px) {
    #s1 {
        height: 415vh;
    }
    .main {
        margin-top: 26vh;
    }
}

@media (max-width: 380px) {
    #s1 {
        height: 475vh;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    #s1 {
        height: 325vh;
    }
    .main {
        margin-top: 26vh;
    }
    .forms {
        margin-top: calc(20vh * var(--base-value) / 18);
    }
}

/* next hub */
@media (width: 1024px) and (height: 600px) {
    #s1 {
        height: 500vh;
    }
}
